{% extends '::base_dialog.html.twig' %}

	{% block name %}
		{{"New User"}} 
	{% endblock %}

	{% block body %}
	
		<div data-role="content" data-theme="a">

		<form action="{{ path('user_create') }}" method="post" {{ form_enctype(form) }}>
				{{ form_errors(form) }}
		    <fieldset>
					<div>
						{{ form_label(form.login) }}
						{{ form_errors(form.login) }}
						{{ form_widget(form.login) }}
					</div>
					
					<div>
		{# 				{{ form_label(form.password) }}#}
						{{ form_errors(form.password) }}
						{{ form_widget(form.password) }}
					</div>
					
					<div>
						{{ form_label(form.role) }}
						{{ form_errors(form.role) }}
						{{ form_widget(form.role) }}
					</div>
					
					<div>
						{{ form_label(form.userDetail.firstname) }}
						{{ form_errors(form.userDetail.firstname) }}
						{{ form_widget(form.userDetail.firstname) }}
					</div>
					
					<div>
						{{ form_label(form.userDetail.lastname) }}
						{{ form_errors(form.userDetail.lastname) }}
						{{ form_widget(form.userDetail.lastname) }}
					</div>
					
					<div>
						{{ form_label(form.userDetail.email) }}
						{{ form_errors(form.userDetail.email) }}
						{{ form_widget(form.userDetail.email) }}
					</div>
					
					<div>
						{{ form_label(form.userDetail.telephone) }}
						{{ form_errors(form.userDetail.telephone) }}
						{{ form_widget(form.userDetail.telephone) }}
					</div>
					
					<div>
						{{ form_label(form.userDetail.mobile) }}
						{{ form_errors(form.userDetail.mobile) }}
						{{ form_widget(form.userDetail.mobile) }}
					</div>
				</fieldset>
		
				{{ form_rest(form) }}
			</form>
	</div>
{% endblock %}
