{% extends '::backend_dialog.html.twig' %}

{% block title %}Edit User{% endblock %}
{% block article -%}
	{% set submit_id = password_form.vars.id ~ "_submit" %}
    	<form action="{{ path('user_password' , { 'id': entity.id}) }}" method="post" onsubmit="return checkSubmit('{{ submit_id }}');" data-ajax="false" {{ form_enctype(password_form) }}>
			<h3>{{ "Change Password for " ~ entity.login  }}</h3>
			{{ form_errors(password_form.password) }}
			{{ form_widget(password_form.password) }}
		    {{ form_rest(password_form) }}
    	</form>
{% endblock %}
