{% extends '::backend.html.twig' %}

{% block article -%}

	{% set now = "now"|date("") %}
    {% set nowDay = now|date("d") %}
    {% set nowMonth = now|date("m") %}
    {% set nowYear = now|date("Y") %}

    <h1>User Details</h1>
    
    <table class="ui-responsive ui-shadow"  data-role="table" id="user-show-table" data-mode="column">
        <tbody>
            <tr>
                <th>Login</th>
                <td>{{ entity.login }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ entity.role }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ entity.userDetail.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ entity.userDetail.lastname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.userDetail.email }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ entity.userDetail.telephone }}</td>
            </tr>
            <tr>
                <th>Mobile</th>
                <td>{{ entity.userDetail.mobile }}</td>
            </tr>
        </tbody>
    </table>
    
    <a href="{{ path('calendar_month', {'month': nowMonth, 'year': nowYear, 'recruiter_id': entity.id}) }}" data-role="button" data-inline="true" data-icon="calendar" data-theme="a">View Calendar</a>
    <a href="{{ path('user_edit', { 'id': entity.id }) }}" data-role="button" data-inline="true" data-icon="edit" data-theme="a">Edit</a>
    <a href="#popupChangePass" data-rel="popup" data-position-to="window" data-role="button" data-inline="true" data-transition="pop" data-icon="password" data-theme="a">Change Password</a>
    <a href="#popupDelete" data-rel="popup" data-position-to="window" data-role="button" data-inline="true" data-transition="pop" data-icon="delete" data-theme="a">Delete</a>
    
    
    <!--  POPUP DELETE CONFIRM -->
    <div data-role="popup" id="popupDelete" data-overlay-theme="a" data-theme="a" data-dismissible="false" style="max-width:400px;" class="ui-corner-all">
    	<form action="{{ path('user_delete' , { 'id': entity.id}) }}" method="delete" {{ form_enctype(delete_form) }}>
    		<div data-role="header" data-theme="a" class="ui-corner-top">
		        <h1>Delete User?</h1>
		    </div>
		    <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
		        <h3 class="ui-title">Are you sure you want to delete this user?</h3>
		        <p>This action cannot be undone.</p>
		        <a href="#" data-role="button" data-inline="true" data-rel="back" data-theme="a">Cancel</a>
{# 		        <button type="submit" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check">Delete</button>#}
		        {{ form_rest(delete_form) }}
		    </div>
			
    	</form>
    </div>
    
    <!--  POPUP CHANGE PASSWORD -->
    <div data-role="popup" id="popupChangePass" data-overlay-theme="a" data-theme="a" data-dismissible="true" style="max-width:400px;" class="ui-corner-all">
    	<form action="{{ path('user_password' , { 'id': entity.id}) }}" method="post" {{ form_enctype(delete_form) }}>
    		<div data-role="header" data-theme="a" class="ui-corner-top">
		        <h1>Change Password</h1>
		    </div>
		    <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
				{{ form_rest(password_form) }}
		    </div>
			
    	</form>
    </div>
    
    
{% endblock %}
