{% extends '::calendar.html.twig' %}


{% block title %}Calendar{% endblock %}

{% block article -%}

	{% set now = "now"|date("") %}
    {% set nowDay = now|date("d") %}
    {% set nowMonth = now|date("m") %}
    {% set nowYear = now|date("Y") %}
    {% set nowDate = nowMonth ~ "/" ~ nowDay ~ "/" ~ nowYear|date('U') %}
    
    {% set currentMonth = month %}
    {% set currentYear = year %}
    {% set time = currentMonth ~ "/01/" ~ currentYear|date("U") %}
    
    {% set prevDate = time|date_modify("-1 month") %}
    {% set prevMonth = prevDate|date("m") %}
    {% set prevYear = prevDate|date("Y") %}
    
    {% set nextDate = time|date_modify("+1 month") %}
    {% set nextMonth = nextDate|date("m") %}
    {% set nextYear = nextDate|date("Y") %}
    
    
    {% set daysInMonth = time|date('t') %}
	{% set startDow = time|date('F 7\\s\\t Y')|date('w') %}
	
    {% set firstMonthDay = currentMonth ~ "/01/" ~ currentYear %}
    {% set lastMonthDay = currentMonth ~ "/" ~ daysInMonth ~ "/" ~ currentYear %}
    
    
    <div  data-theme="a" id="calendar-page" class="month-page">
		{# CHANGE MONTH AND VIEW OPTIONS #}
	    <div class="change_month">
	    	<table>
	    		<tr>
			    	<td style="text-align: left;">
			    		{% if (currentMonth == nowMonth and currentYear == nowYear) %}
			    			<a href="{{ path('calendar_month', {'month': nowMonth, 'year': nowYear, 'recruiter_id': recruiter_url}) }}" data-ajax="false" data-role="button" data-mini="true" data-inline="true" class="ui-btn-active ui-state-persist">{{ "Today" }}</a>
			    		{% else %}
			    			<a href="{{ path('calendar_month', {'month': nowMonth, 'year': nowYear, 'recruiter_id': recruiter_url}) }}" data-ajax="false" data-role="button" data-mini="true" data-inline="true">{{ "Today" }}</a>
			    		{% endif %}
			    	</td>
			    	<td style="text-align: center;">
					    <a href="{{ path('calendar_month', {'month': prevMonth, 'year': prevYear, 'recruiter_id': recruiter_url}) }}" data-ajax="false" data-role="button" data-icon="arrow-l" data-iconpos="notext" data-mini="true" data-inline="true"></a>
					    <span>{{ time|date("F Y") }}</span>
					    <a href="{{ path('calendar_month', {'month': nextMonth, 'year': nextYear, 'recruiter_id': recruiter_url}) }}" data-ajax="false" data-role="button" data-icon="arrow-r" data-iconpos="notext" data-mini="true" data-inline="true"></a>
					</td>
				    <td style="text-align: right;">
				    	<a href="{{ path('calendar_day', {'day': firstMonthDay|date("d"), 'month': month, 'year': year, 'recruiter_id': recruiter_url}) }}" data-ajax="false" data-role="button" data-mini="true" data-inline="true">{{ "Day" }}</a>
			    		<a href="{{ path('calendar_month', {'month': month, 'year': year, 'recruiter_id': recruiter_url}) }}" data-ajax="false" data-role="button" data-mini="true" data-inline="true" class="ui-btn-active ui-state-persist">{{ "Month" }}</a>
			    		<a href="{{ path('calendar_diary', {'day': firstMonthDay|date("d") , 'month': month, 'year': year, 'recruiter_id': recruiter_url}) }}" data-ajax="false" data-role="button" data-mini="true" data-inline="true">{{ "Diary" }}</a>
			    		<a href="{{ path('calendar_map_month', {'month': month, 'year': year, 'recruiter_id': recruiter.id}) }}" data-ajax="false" data-role="button" data-mini="true" data-inline="true">{{ "Map" }}</a>
			    	</td>
			    </tr>
		    </table>
		</div>
        
	    
	    <div role="main" class="ui-content" style="margin: 0 auto; max-width: 92.5em;">
	    
	    	{# DAYS OF THE WEEK #}
	    	<table>
	    		<tr>
	    			<td>Mon</td>
	    			<td>Tue</td>
	    			<td>Wed</td>
	    			<td>Thu</td>
	    			<td>Fri</td>
	    			<td>Sat</td>
	    			<td>Sun</td>
	    		</tr>
	    	</table>
	    	
	    	{# CALENDAR #}
	        <ul data-role="listview" data-inset="true">
	        
	        	{########################################################################################################################################}
	        	{########## Days before month ###########################################################################################################}
				{########################################################################################################################################}
	        	{% if startDow != 0 %}
        			{% for daysBefore in range(1,startDow) %}
        				<li class="pastDays" >
        					{% set day = firstMonthDay|date_modify('-' ~ (startDow - daysBefore + 1) ~ 'day')|date('d') %}
        					
        					{% set prevDayDate = prevMonth ~ "/" ~ day ~ "/" ~ prevYear|date('U') %}
							
							{% if ((prevDayDate|date("D") == "Sun") or (unavailableDateList[prevDayDate] is defined)) %}
								{% if (prevDayDate|date("D") == "Sun") %}
									<a href="#" data-ajax="false" class="ui-btn pastDays ui-disabled">
								{% elseif (unavailableDateList[prevDayDate] is defined) %}
									<a href="{{ path('calendar_day', {'day': day,'month': prevMonth, 'year': prevYear, 'recruiter_id': recruiter_url}) }}" data-ajax="false" class="ui-btn pastDays">
								{% endif %}
								<img src="" class="ui-li-thumb">
								<h2>{{ "Unavailable" }}</h2>
								{% if unavailableDateList[prevDayDate] is defined %}
									<p>{{ unavailableDateList[prevDayDate] }}</p>
								{% endif %}
							{% else %}
								<a href="{{ path('calendar_day', {'day': day,'month': prevMonth, 'year': prevYear, 'recruiter_id': recruiter_url}) }}" data-ajax="false" class="ui-btn pastDays">
								<img src="" class="ui-li-thumb">
								{% if appointmentPrevList[day] is defined %}
					                <h2>
				                		{{ appointmentPrevList[day] }}
				                	</h2>
				                	<p>Appointmens</p>
				                {% endif %}
				            {% endif %}
			                <p class="ui-li-aside">
			                	{% set day = firstMonthDay|date_modify('-' ~ (startDow - daysBefore + 1) ~ 'day')|date('d/M') %}
			                	{{ day }}
			                </p>
        				</a></li>
        			{% endfor %}
        		{% endif %}
        		
				{########################################################################################################################################}
        		{########## Days in month ###############################################################################################################}
				{########################################################################################################################################}
	        	{% for i in range(1,daysInMonth) %}
	        		{% if i < 10 %}{% set pref = "0" %}{% else %}{% set pref = "" %}{% endif %}
					
					{% set currentDay = currentMonth ~ "/" ~ pref ~ i ~ "/" ~ currentYear|date('U') %}
					
	        		{% if nowDate == currentDay %}
	        			<li class="today">
	        		{% else %}
	        			<li>
	        		{% endif %}
						
						{% if ((currentDay|date("D") == "Sun") or (unavailableDateList[currentDay] is defined)) %}
							{% if (currentDay|date("D") == "Sun") %}
								<a href="#" data-ajax="false" class="ui-btn pastDays ui-disabled">
							{% elseif (unavailableDateList[currentDay] is defined) %}
								<a href="{{ path('calendar_day', {'day': pref ~ i,'month': currentMonth, 'year': currentYear, 'recruiter_id': recruiter_url}) }}" data-ajax="false"  class="ui-btn">
							{% endif %}
							<h2>{{ "Unavailable" }}</h2>
							{% if unavailableDateList[currentDay] is defined %}
								<p class="description">{{ unavailableDateList[currentDay] }}</p>
							{% endif %}
								
						{% else %}
							<a href="{{ path('calendar_day', {'day': pref ~ i,'month': currentMonth, 'year': currentYear, 'recruiter_id': recruiter_url}) }}" data-ajax="false" class="ui-btn">
					
							{% if appointmentList[i] is defined %}
								<img src="" class="ui-li-thumb">
				                <h2>
			                		{{ appointmentList[i] }}
			                	</h2>
			                	<p>Appointmens</p>
			                {% else %}
			                	
			                {% endif %}
			            {% endif %}
		                <p class="ui-li-aside">
		                	{{ i }}
		                <div class="day">{{ currentDay|date("D") }}</div>
		                </p>
		            </a></li>
	            {% endfor %}
	            
				{########################################################################################################################################}
	            {########## Days after month ############################################################################################################}
				{########################################################################################################################################}
	            {% set lastDow = ((startDow + (daysInMonth % 7)) % 7)  %}
	            {% if lastDow != 0 %}
        			{% for daysAfter in range(1,7-lastDow) %}
        				<li class="pastDays" >
							{% set day = lastMonthDay|date_modify('+' ~ daysAfter ~ 'days')|date('d') %}
        					
        					{% set nextDayDate = nextMonth ~ "/" ~ day ~ "/" ~ nextYear|date('U') %}
							
							
							{% if ((nextDayDate|date("D") == "Sun") or (unavailableDateList[nextDayDate] is defined)) %}
								{% if (nextDayDate|date("D") == "Sun") %}
									<a href="#" data-ajax="false" class="ui-btn pastDays ui-disabled">
								{% elseif (unavailableDateList[nextDayDate] is defined) %}
									<a href="{{ path('calendar_day', {'day': day,'month': nextMonth, 'year': nextYear, 'recruiter_id': recruiter_url}) }}" data-ajax="false" class="ui-btn pastDays">
								{% endif %}
								<img src="" class="ui-li-thumb">
								<h2>{{ "Unavailable" }}</h2>
								{% if unavailableDateList[nextDayDate] is defined %}
									<p>{{ unavailableDateList[nextDayDate] }}</p>
								{% endif %}
							{% else %}
								<a href="{{ path('calendar_day', {'day': day,'month': nextMonth, 'year': nextYear, 'recruiter_id': recruiter_url}) }}" data-ajax="false" class="ui-btn pastDays">
								<img src="" class="ui-li-thumb">
								{% if appointmentNextList[day] is defined %}
					                <h2>
				                		{{ appointmentNextList[day] }}
				                	</h2>
				                	<p>Appointmens</p>
				                {% endif %}
				            {% endif %}
			                <p class="ui-li-aside">
								{% set day = lastMonthDay|date_modify('+' ~ daysAfter ~ 'days')|date('d/M') %}
			                	{{ day }}
			                </p>
        				</a></li>
        			{% endfor %}
        		{% endif %}
	        </ul>
		</div> <!-- content -->
	</div>
	
{% endblock %}
