<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %} | Fsb Calendar Management System</title>
        
		{% block stylesheets %}{% endblock %}
        {# jquery-mobile css#}
        <link href="{{ asset('bundles/jquery/js/jquery.mobile-1.4.2/jquery.mobile-1.4.2.min.css') }}" rel="stylesheet" type="text/css" />
        {# datetime css#}
        <link href="{{ asset('bundles/jquery/js/jquery.datetimepicker/jquery.datetimepicker.css') }}" rel="stylesheet" type="text/css" />
        {# common css#}
        <link href="{{ asset('bundles/backend/css/common.css') }}"	rel="stylesheet" type="text/css" />
        
        {# favicon#}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        {% block javascripts %}
			{# jquery Lib #}
    		<script type="text/javascript" src="{{ asset('bundles/jquery/js/jquery-1.11.0.min.js') }}" ></script>
    		{# jquery-mobile Lib #}
    		<script type="text/javascript" src="{{ asset('bundles/jquery/js/jquery.mobile-1.4.2/jquery.mobile-1.4.2.min.js') }}" ></script>
    		{# datetime Lib #}
    		<script type="text/javascript" src="{{ asset('bundles/jquery/js/jquery.datetimepicker/jquery.datetimepicker.js') }}" ></script>
    		{# common Lib #}
    		<script type="text/javascript" src="{{ asset('bundles/backend/js/common.js') }}" ></script>
    		{# autodivider Lib #}
    		<script type="text/javascript" src="{{ asset('bundles/backend/js/autodivider.js') }}" ></script>
    		
		{% endblock %}
		
    </head>
    <body id="{%  block id '' %}">
    	<div data-role="page" id="base-page">			

    		{% include '::includes/menu.html.twig' %}
    		
    		<header data-role="header" class="header" data-theme="a" data-position="fixed" data-tap-toggle="false">
				{% if (is_granted('IS_AUTHENTICATED_FULLY') or is_granted('IS_AUTHENTICATED_REMEMBERED')) %}
				 	<a href="#left-panel" id="navmenu-btn" class="navmenu-btn">&#9776; </a>
				 	<a href="#right-panel" data-role="button" data-icon="gear" data-iconpos="notext"></a>
				{% endif %}
				<h1><a href="{{ path('index') }}"><img alt="fsb" src="{{ asset('bundles/backend/images/logo.png') }}" width="60px;"></a></h1>
				{% if (is_granted('IS_AUTHENTICATED_FULLY')) %}
					<div data-role="header">
						<h1>{% block name %}{% endblock %}</h1>
					    <a href="./" data-shadow="false" data-iconshadow="false" data-icon="carat-l" data-iconpos="notext" data-rel="back" data-ajax="false">Back</a>
					</div>
				{% endif %}
			</header><!-- /header -->
    
			{% block body %}{% endblock %}
    		
    		<footer data-role="footer" class="footer" data-position="fixed" data-theme="b" data-tap-toggle="false">
    			&copy; {{ 'now' | date('Y') }} - Fsb
			</footer><!-- /footer -->
			
		</div>	    
    </body>
</html>
    