<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %} | Fsb Calendar Management System</title>
        
		{% block stylesheets %}{% endblock %}
        {# jquery-mobile css#}
        <link href="{{ asset('bundles/jquery/js/jquery.mobile-1.4.2/jquery.mobile-1.4.2.min.css') }}" rel="stylesheet" type="text/css" />
        {# datetime css#}
        <link href="{{ asset('bundles/jquery/js/jquery.datetimepicker/jquery.datetimepicker.css') }}" rel="stylesheet" type="text/css" />
        {# common css#}
        <link href="{{ asset('bundles/backend/css/common.css') }}"	rel="stylesheet" type="text/css" />
        
        {# favicon#}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        {% block javascripts %}
			{# jquery Lib #}
    		<script type="text/javascript" src="{{ asset('bundles/jquery/js/jquery-1.11.0.min.js') }}" ></script>
    		{# jquery-mobile Lib #}
    		<script type="text/javascript" src="{{ asset('bundles/jquery/js/jquery.mobile-1.4.2/jquery.mobile-1.4.2.min.js') }}" ></script>
    		{# datetime Lib #}
    		<script type="text/javascript" src="{{ asset('bundles/jquery/js/jquery.datetimepicker/jquery.datetimepicker.js') }}" ></script>
    		{# common Lib #}
    		<script type="text/javascript" src="{{ asset('bundles/backend/js/common.js') }}" ></script>
    		{# location Lib #}
    		<script type="text/javascript" src="{{ asset('bundles/calendar/js/location.js') }}" ></script>
    		{# google maps api Lib #}
    		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
		{% endblock %}
		
    </head>
    <body id="{%  block id '' %}">
		<div data-role="dialog" data-overlay-theme="b" data-close-btn="none">
    		<header data-role="header" data-theme="a">
				<h1>{% block name %}{% endblock %}</h1>
			</header><!-- /header -->
    
			{% block body %}{% endblock %}
		</div>	    
    </body>
</html>
    