{% if searchAvailabilityForm is defined %}
{% set submit_id = searchAvailabilityForm.vars.id ~ "_submit" %}

	<h3>{{ "Availability Filter" }}</h3>
	<form action="{{ path('unavailableDate_search_availability', {'month': month, 'year': year}) }}" method="post" onsubmit="return checkSubmit('{{ submit_id }}');" data-ajax="false" {{ form_enctype(searchAvailabilityForm) }}>
		{{ form_errors(searchAvailabilityForm) }}
			{% if recruiter_url is defined %}
				{{ recruiter }}
				<br /><br />
			{% endif %}
			
			<h4>{{ "Particular Time" }}</h4>
			<p>
				{{ form_label(searchAvailabilityForm.startTime) }}
				{{ form_errors(searchAvailabilityForm.startTime) }}
				{{ form_widget(searchAvailabilityForm.startTime) }}
			</p>
			
			<p>
				{{ form_label(searchAvailabilityForm.endTime) }}
				{{ form_errors(searchAvailabilityForm.endTime) }}
				{{ form_widget(searchAvailabilityForm.endTime) }}
			</p>
			
			<h4>{{ "Recruiters" }}</h4>
			<p> {{ form_errors(searchAvailabilityForm.recruiters) }} </p>
			<ul data-role="listview" data-theme="d" data-divider-theme="d">
				<li>{{ form_widget(searchAvailabilityForm.recruiters) }}</li>
			</ul>
			
			{{ form_rest(searchAvailabilityForm) }}
			<a href="{{ path('unavailabledate_clean_availability_filter') }}" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-btn-icon-left ui-icon-delete" data-role="button" data-inline="true" data-ajax="false" >{{ "Clean" }}</a>
	</form>
{% endif %}