<!-- MENU -->

{% set now = "now"|date("U") %}
{% set nowDay = now|date("d") %}
{% set nowMonth = now|date("m") %}
{% set nowYear = now|date("Y") %}

{% if (is_granted('IS_AUTHENTICATED_FULLY') or is_granted('IS_AUTHENTICATED_REMEMBERED')) %}
	<!-- LEFT PANEL -->
	<div data-role="panel" id="left-panel" class="navmenu-panel" data-position="left" data-display="push" data-theme="a" data-position-fixed="true">
		
		<ul data-role="listview" class="list" data-theme="a" data-divider-theme="a" >
			
			<li data-role="list-divider">MENU</li>
				
			{% if (is_granted('ROLE_SUPER_USER')) %}
            	<li><a href="#" class="hreflink ui-btn ui-btn-icon-right ui-icon-grid">{{ "Reporting" }}</a></li>
            {% elseif (is_granted('ROLE_ADMINISTRATOR')) %}
            	<li><a href="{{ path('user') }}" class="hreflink ui-btn ui-btn-icon-right ui-icon-carat-r ui-icon-user">{{ "Users" }}</a></li>
            	<li><a href="{{ path('rule') }}" class="hreflink ui-btn ui-btn-icon-right ui-icon-action">{{ "Rules" }}</a></li>
            	<li><a href="{{ path('unavailableDate_search_availability', {'month': nowMonth, 'year': nowYear }) }}" class="hreflink ui-btn ui-btn-icon-right ui-icon-search">{{ "Search Availability" }}</a></li>
            {% endif %}
            <li><a href="{{ path('calendar_homepage') }}" class="hreflink ui-btn ui-btn-icon-right ui-icon-calendar">{{ "Calendar" }}</a></li>
            
            <li>
            	{% include 'CalendarBundle:Default:includes/calendar_mini.html.twig' %}
            </li>
		</ul>
				
	</div><!-- /panel -->
		    
    <!-- RIGHT PANEL -->
    <div data-role="panel" id="right-panel" class="navmenu-panel" data-position="right" data-display="push" data-theme="a" data-position-fixed="true">

		<ul data-role="listview" class="list" data-theme="a" data-divider-theme="a">
			
			<li>
				<a href="{{ "#" }}" class="hreflink ui-btn ui-btn-icon-right ui-icon-carat-r ui-icon-user">{{ "Hi" ~ app.security.getToken().getUser().getUserDetail().getFirstname() }}</a>
			</li>
			
			<li><a href="{{ path('logout') }}" class="hreflink ui-btn ui-btn-icon-right ui-icon-carat-r ui-icon-power">{{ "Logout" }}</a></li>
		</ul>
		
		
		<div class="filter">
			{% include '::includes/filter.html.twig' %}
		</div>
		
    </div><!-- /panel -->
{% endif %}
		    
