<!-- MENU -->

{% set now = "now"|date("U") %}
{% set nowDay = now|date("d") %}
{% set nowMonth = now|date("m") %}
{% set nowYear = now|date("Y") %}

{% if (is_granted('IS_AUTHENTICATED_FULLY') or is_granted('IS_AUTHENTICATED_REMEMBERED')) %}
	<!-- LEFT PANEL -->
	<div data-role="panel" id="left-panel" class="navmenu-panel" data-position="left" data-display="overlay" data-theme="a" data-position-fixed="false">
		
		<ul data-role="listview" class="list" data-theme="a" data-divider-theme="a" >
			
			<li data-role="list-divider">MENU</li>
				
			{% if (is_granted('ROLE_SUPER_USER')) %}
            	<li><a href="{{ path('reporting_homepage') }}" class="hreflink ui-btn ui-btn-icon-right ui-icon-grid" data-ajax="false">{{ "Reporting" }}</a></li>
                <li><a href="{{ path('unavailableDate_search_availability', {'month': nowMonth, 'year': nowYear }) }}" class="hreflink ui-btn ui-btn-icon-right ui-icon-search" data-ajax="false">{{ "Search Availability" }}</a></li>
                <li><a href="{{ path('appointment_filter', {'month': nowMonth, 'year': nowYear }) }}" class="hreflink ui-btn ui-btn-icon-right ui-icon-search" data-ajax="false">{{ "Search Appointment" }}</a></li>
            {% elseif (is_granted('ROLE_APPOINTMENT_SETTER')) %}
                <li><a href="{{ path('unavailableDate_search_availability', {'month': nowMonth, 'year': nowYear }) }}" class="hreflink ui-btn ui-btn-icon-right ui-icon-search" data-ajax="false">{{ "Search Availability" }}</a></li>
                <li><a href="{{ path('appointment_filter', {'month': nowMonth, 'year': nowYear }) }}" class="hreflink ui-btn ui-btn-icon-right ui-icon-search" data-ajax="false">{{ "Search Appointment" }}</a></li>
            {% elseif (is_granted('ROLE_ADMINISTRATOR')) %}
            	<li><a href="{{ path('backend_homepage') }}" class="hreflink ui-btn ui-btn-icon-right ui-icon-carat-r ui-icon-user" data-ajax="false">{{ "Admin" }}</a></li>
            	<li><a href="{{ path('reporting_homepage') }}" class="hreflink ui-btn ui-btn-icon-right ui-icon-grid" data-ajax="false">{{ "Reporting" }}</a></li>
            	<li><a href="{{ path('unavailableDate_search_availability', {'month': nowMonth, 'year': nowYear }) }}" class="hreflink ui-btn ui-btn-icon-right ui-icon-search" data-ajax="false">{{ "Search Availability" }}</a></li>
            	<li><a href="{{ path('appointment_filter', {'month': nowMonth, 'year': nowYear }) }}" class="hreflink ui-btn ui-btn-icon-right ui-icon-search" data-ajax="false">{{ "Search Appointment" }}</a></li>
            {% endif %}
            <li><a href="{{ path('calendar_homepage') }}" class="hreflink ui-btn ui-btn-icon-right ui-icon-calendar" data-ajax="false">{{ "Calendar" }}</a></li>
            
            <li>
            	{% include 'CalendarBundle:Default:includes/calendar_mini.html.twig' %}
            </li>
		</ul>
				
	</div><!-- /panel -->
		    
    <!-- RIGHT PANEL -->
    <div data-role="panel" id="right-panel" class="navmenu-panel" data-position="right" data-display="push" data-theme="a" data-position-fixed="false">

		<ul data-role="listview" class="list" data-theme="a" data-divider-theme="a" style="margin-bottom: 30px;">
			
			{# User Profile #}
			<li>
				<a href="{{ "#" }}" class="hreflink ui-btn ui-btn-icon-right ui-icon-carat-r ui-icon-user">
					<h2>{{ "Hi " ~ app.security.getToken().getUser().getUserDetail() }}</h2>
					<p>{{ "[" ~ app.security.getToken().getUser().getRole() ~ "]" }}</p>
				</a>
			</li>
			
			{# Logout #}
			<li><a href="{{ path('logout') }}" class="hreflink ui-btn ui-btn-icon-right ui-icon-carat-r ui-icon-power" data-ajax="false">{{ "Logout" }}</a></li>
		</ul>
		
		<div class="menu_item_left">
			{% include '::includes/upcomingAppointments.html.twig' %}
		</div>
		<div>
			{% include 'CalendarBundle:Default:includes/charts/appointmentsByWeek.html.twig' %}
		</div>
		<div>
			{% include 'CalendarBundle:Default:includes/charts/appointmentsByMonth.html.twig' %}
		</div>
		<div>
			{% include 'CalendarBundle:Default:includes/charts/appointmentOutcomes.html.twig' %}
		</div>
    </div><!-- /panel -->
{% endif %}
		    
