{% if upcomingAppointmentList is defined %}
	<h4 style="text-align: center;">{{ "Upcoming Appointments" }}</h4>
	{% if (upcomingAppointmentList|length > 0) %}
		<ul data-role="listview">
			{% for appointment in upcomingAppointmentList %}
				<li>
					<a href="{{ path('appointment_show', {'appointmentId': appointment.id}) }}" data-role="button" data-icon="clock" data-iconpos="right" data-mini="false" data-rel="dialog" data-transition="pop" data-ajax="false">
						{% if not is_granted('ROLE_RECRUITER') %}
							<h2>{{ appointment.recruiter }}</h2>
						{% endif %}
						{% set startDate = appointment.startDate|date('Y-m-d H:i') %}
						<p><strong>{{ startDate }}</strong>{{ " - " ~ appointment.appointmentDetail.address.postcode }}</p>
						<h2>{{ appointment.appointmentDetail }}</h2>
			  			<p>{{ appointment.appointmentDetail.comment }}</p>
					</a>
				</li> 
			{% endfor %}
		</ul>
	{% else %}
		<p class="no_content">{{ "There is no appointments in the next days" }}</p>
	{% endif %}
{% endif %}