{% extends '::calendar_dialog.html.twig' %}

{% block title %}Edit Appointment{% endblock %}


{% block article -%}
	{% set submit_id = edit_form.vars.id ~ "_submit" %}
	<form action="{{ path('appointment_update', { 'id': appointment.id}) }}" method="post" onsubmit="return checkSubmit('{{ submit_id }}');" data-ajax="false" {{ form_enctype(edit_form) }}>
		{{ form_errors(edit_form) }}
			<table>
				<tr>
					<td colspan="3">
						{{ form_label(edit_form.appointmentDetail.title) }}
						{{ form_errors(edit_form.appointmentDetail.title) }}
						{{ form_widget(edit_form.appointmentDetail.title) }}
					</td>
				</tr><tr>
					<td>
						{{ form_label(edit_form.startDate) }}
						{{ form_errors(edit_form.startDate) }}
						{{ form_widget(edit_form.startDate) }}
					</td><td>
						{{ form_label(edit_form.endDate) }}
						{{ form_errors(edit_form.endDate) }}
						{{ form_widget(edit_form.endDate) }}
					</td>
				</tr><tr>
					<td>
						{{ form_label(edit_form.recruiter) }}
						{{ form_errors(edit_form.recruiter) }}
						{{ form_widget(edit_form.recruiter) }}
					</td><td>
						{{ form_label(edit_form.record) }}
						{{ form_errors(edit_form.record) }}
						{{ form_widget(edit_form.record) }}
					</td>
					<td>
						{{ form_label(edit_form.appointmentDetail.project) }}
						{{ form_errors(edit_form.appointmentDetail.project) }}
						{{ form_widget(edit_form.appointmentDetail.project) }}
					</td>
				</tr><tr>
					<td>
						{{ form_label(edit_form.appointmentDetail.outcome) }}
						{{ form_errors(edit_form.appointmentDetail.outcome) }}
						{{ form_widget(edit_form.appointmentDetail.outcome) }}
					</td><td colspan="2">
						{{ form_label(edit_form.appointmentDetail.outcomeReason) }}
						{{ form_errors(edit_form.appointmentDetail.outcomeReason) }}
						{{ form_widget(edit_form.appointmentDetail.outcomeReason) }}
					</td>
				</tr><tr>
					<td colspan="3">
						{{ form_label(edit_form.appointmentDetail.comment) }}
						{{ form_errors(edit_form.appointmentDetail.comment) }}
						{{ form_widget(edit_form.appointmentDetail.comment) }}
					</td>
				</tr><tr>
					<td>
						<a href="docs-dialogs.html" data-rel="back" class="ui-btn ui-shadow ui-corner-all ui-btn-a">Cancel</a>				
					</td>
					<td colspan="2">
						{{ form_rest(edit_form) }}	
					</td>
				</tr>
			</table>
	</form>
{% endblock %}