{% extends '::calendar_dialog.html.twig' %}

{% block title %}Edit Appointment{% endblock %}


{% block article -%}

	{% set submit_id = edit_form.vars.id ~ "_submit" %}
	<form action="{{ path('appointment_update', { 'appointmentId': appointment.id}) }}" method="post" onsubmit="return checkSubmit('{{ submit_id }}');" data-ajax="false" {{ form_enctype(edit_form) }}>
		{{ form_errors(edit_form) }}
			<table>
				<tr>
					<td>
						{% if (is_granted('ROLE_RECRUITER')) %}
							<h2> {{ appointment.recruiter }} </h2>
				       		<div style="display: none;">
				       	{% else %}
				       		<div>
				       	{% endif %}
				       		{{ form_label(edit_form.recruiter) }}
							{{ form_errors(edit_form.recruiter) }}
							{{ form_widget(edit_form.recruiter) }}
				  		</div>
					</td>
				</tr><tr>
					<td colspan="3">
						{{ form_label(edit_form.appointmentDetail.title) }}
						{{ form_errors(edit_form.appointmentDetail.title) }}
						{{ form_widget(edit_form.appointmentDetail.title) }}
					</td>
				</tr><tr>
					<td>
						{{ form_label(edit_form.startDate) }}
						{{ form_errors(edit_form.startDate) }}
						{{ form_widget(edit_form.startDate) }}
						
					</td><td>
						{{ form_label(edit_form.endDate) }}
						{{ form_errors(edit_form.endDate) }}
						{{ form_widget(edit_form.endDate) }}
					</td>
				</tr><tr>
					<td>
						{{ form_label(edit_form.appointmentDetail.project) }}
						{{ form_errors(edit_form.appointmentDetail.project) }}
						{{ form_widget(edit_form.appointmentDetail.project) }}
					</td>
					<td>
						{{ form_label(edit_form.appointmentDetail.recordRef) }}
						{{ form_errors(edit_form.appointmentDetail.recordRef) }}
						{{ form_widget(edit_form.appointmentDetail.recordRef) }}
					</td>
				</tr><tr>
					<td>
						{{ form_label(edit_form.appointmentDetail.outcome) }}
						{{ form_errors(edit_form.appointmentDetail.outcome) }}
						{{ form_widget(edit_form.appointmentDetail.outcome) }}
					</td><td colspan="2">
						{{ form_label(edit_form.appointmentDetail.outcomeReason) }}
						{{ form_errors(edit_form.appointmentDetail.outcomeReason) }}
						{{ form_widget(edit_form.appointmentDetail.outcomeReason) }}
					</td>
				</tr><tr>
					<td>
						{{ form_label(edit_form.appointmentDetail.address.add1) }}
						{{ form_errors(edit_form.appointmentDetail.address.add1) }}
						{{ form_widget(edit_form.appointmentDetail.address.add1) }}
					</td><td colspan="2">
						{{ form_label(edit_form.appointmentDetail.address.postcode) }}
						{{ form_errors(edit_form.appointmentDetail.address.postcode) }}
						{{ form_widget(edit_form.appointmentDetail.address.postcode) }}
						{{ form_widget(edit_form.appointmentDetail.address.lat) }}
						{{ form_widget(edit_form.appointmentDetail.address.lon) }}
					</td>
				</tr><tr>
					<td>
						{{ form_label(edit_form.appointmentDetail.address.add2) }}
						{{ form_errors(edit_form.appointmentDetail.address.add2) }}
						{{ form_widget(edit_form.appointmentDetail.address.add2) }}
					</td><td colspan="2">
						{{ form_label(edit_form.appointmentDetail.address.town) }}
						{{ form_errors(edit_form.appointmentDetail.address.town) }}
						{{ form_widget(edit_form.appointmentDetail.address.town) }}
					</td>
				</tr><tr>
					<td>
						{{ form_label(edit_form.appointmentDetail.address.add3) }}
						{{ form_errors(edit_form.appointmentDetail.address.add3) }}
						{{ form_widget(edit_form.appointmentDetail.address.add3) }}
					</td><td colspan="2">
						{{ form_label(edit_form.appointmentDetail.address.country) }}
						{{ form_errors(edit_form.appointmentDetail.address.country) }}
						{{ form_widget(edit_form.appointmentDetail.address.country) }}
					</td>
				</tr><tr>
					<td colspan="3">
						{{ form_label(edit_form.appointmentDetail.comment) }}
						{{ form_errors(edit_form.appointmentDetail.comment) }}
						{{ form_widget(edit_form.appointmentDetail.comment) }}
					</td>
				</tr><tr>
					<td>
						<a href="{{ path('calendar_day', {'day': day, 'month': month, 'year': year}) }}" data-ajax="false" data-role="button" data-mini="true" data-inline="true" class="ui-btn ui-shadow ui-corner-all ui-btn-a">{{ "Cancel" }}</a>				
					</td>
					<td colspan="2">
						{{ form_rest(edit_form) }}	
					</td>
				</tr>
			</table>
	</form>
{% endblock %}