{% extends '::calendar_dialog.html.twig' %}

{% block title %}Appointment{% endblock %}


{% block article -%}

<style>
      #map-canvas {
        height: 300px;
        margin: 0px;
        padding: 0px
      }
    </style>
    
    <script>

    	var directionsDisplay;
    	var directionsService = new google.maps.DirectionsService();
    	var map;
    
		function initialize() {
		  var lat = {{ appointment.appointmentDetail.address.lat }};
		  var lng = {{ appointment.appointmentDetail.address.lon }};
		  var myLatlng = new google.maps.LatLng(lat,lng);
		  var mapOptions = {
		    zoom: 12,
		    center: myLatlng
		  }
		  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

		  if ({{ postcodeDest|json_encode|raw }}) {
			  var destination = {{ postcodeDest|json_encode|raw }};
		      var origin = {{ (appointment.appointmentDetail.address.postcode ~ "," ~ appointment.appointmentDetail.address.country)|json_encode|raw }};
			  directionsDisplay = new google.maps.DirectionsRenderer();
			  calcRoute(origin, destination);
			  directionsDisplay.setMap(map);
		  }
		  else {

			  var marker = new google.maps.Marker({
			      position: myLatlng,
			      map: map,
			      title: '{{ appointment.appointmentDetail.title }}'
			  });
	
			  var infowindow = new google.maps.InfoWindow({
	              content: '<span><b>Appointment</b><br></span>Recruiter'
	          });
	
	          google.maps.event.addListener(marker, 'click', function() {
	            infowindow.open(map,marker);
	          });  
		   }                           
		}

		function calcRoute(start, end) {
		  var request = {
		      origin:start,
		      destination:end,
		      travelMode: google.maps.TravelMode.DRIVING
		  };

		  directionsService.route(request, function(response, status) {
		    if (status == google.maps.DirectionsStatus.OK) {
		      directionsDisplay.setDirections(response);
		    }
		  });
		}
		
		google.maps.event.addDomListener(window, 'load', initialize);

    </script>

    <div id="map-canvas"></div>
    
    <h2>{{ appointment.appointmentDetail }}</h2>
    <p><strong>{{ "Appointment Setter: " }}</strong>{{ appointment.appointmentSetter }}</p>
	<p><strong>{{ "Recruiter: " }}</strong>{{ appointment.recruiter }}</p>
    <p><strong>{{ "Record Reference: " }}</strong>{{ appointment.appointmentDetail.recordRef }}</p>
    <p><strong>{{ "Project: " }}</strong>{{ appointment.appointmentDetail.project }}</p>
    <p><strong>{{ "Outcome: " }}</strong>{{ appointment.appointmentDetail.outcome }}</p>
    <p><strong>{{ "Outcome Reason: " }}</strong>{{ appointment.appointmentDetail.outcomeReason }}</p>
	<p>
        <strong>{{ "Postcode: " }}</strong>{{ appointment.appointmentDetail.address.postcode }}
		<a href="{{ "#" }}" target="_blank" data-role="button" data-icon="navigation" data-iconpos="notext" data-mini="true" data-inline="true"></a>
    </p>
    <p style="border-top: 1px solid gray; padding-top: 10px;">{{ appointment.appointmentDetail.comment }}</p>
    
    <p style="padding-top: 10px; text-align: right;">
    {% if (is_granted('ROLE_RECRUITER')) %}
        <a href="{{ path('appointment_outcome_edit', {'id': appointment.id}) }}" data-role="button" data-inline="true" data-icon="edit" data-theme="b" data-rel="dialog" data-transition="pop">Edit</a>
    {% else %}
    	<a href="{{ path('appointment_edit', {'id': appointment.id}) }}" data-role="button" data-inline="true" data-icon="edit" data-theme="b" data-rel="dialog" data-transition="pop">Edit</a>
    {% endif %}
        <a href="{{ app.request.headers.get('referer') }}" data-role="button" data-inline="true" data-icon="delete" data-ajax="false">Close</a>
    </p>
    
{% endblock %}