{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Appointment</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ appointment.id }}</td>
            </tr>
            <tr>
                <th>Record</th>
                <td>{{ appointment.record }}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                <td>{{ appointment.startDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{{ appointment.endDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Createdby</th>
                <td>{{ appointment.createdBy }}</td>
            </tr>
            <tr>
                <th>Createddate</th>
                <td>{{ appointment.createdDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Modifiedby</th>
                <td>{{ appointment.modifiedBy }}</td>
            </tr>
            <tr>
                <th>Modifieddate</th>
                <td>{{ appointment.modifiedDate|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('appointment') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('appointment_edit', { 'id': appointment.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
