{% extends '::backend.html.twig' %}

{% block title %} Backend {% endblock %}

{% block article -%}
    <h1>Rule</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Rule</th>
                <td>{{ entity.rule }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
        </tbody>
    </table>

 	<a href="{{ path('rule_edit', { 'id': entity.id }) }}" data-role="button" data-inline="true" data-icon="edit" data-theme="a">Edit</a>
    <a href="#popupDelete" data-rel="popup" data-position-to="window" data-role="button" data-inline="true" data-transition="pop" data-icon="delete" data-theme="a">Delete</a>
    
    
    <!--  POPUP DELETE CONFIRM -->
    <div data-role="popup" id="popupDelete" data-overlay-theme="a" data-theme="a" data-dismissible="false" style="max-width:400px;" class="ui-corner-all">
    	<form action="{{ path('rule_delete' , { 'id': entity.id}) }}" method="delete" data-ajax="false" {{ form_enctype(delete_form) }}>
    		<div data-role="header" data-theme="a" class="ui-corner-top">
		        <h1>Delete Rule?</h1>
		    </div>
		    <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
		        <h3 class="ui-title">Are you sure you want to delete this rule?</h3>
		        <p>This action cannot be undone.</p>
		        <a href="#" data-role="button" data-inline="true" data-rel="back" data-theme="a">Cancel</a>
		        {{ form_rest(delete_form) }}
		    </div>
			
    	</form>
    </div>
 	
{% endblock %}
