{% extends '::calendar.html.twig' %}


{% block title %}Calendar{% endblock %}

{% block article -%}

	{% set now = "now"|date("U") %}
    {% set nowDay = now|date("d") %}
    {% set nowMonth = now|date("m") %}
    {% set nowYear = now|date("Y") %}
    {% set nowHour = now|date("H") %}
    {% set nowDate = nowMonth ~ "/" ~ nowDay ~ "/" ~ nowYear|date('U') %}
    
    {% set currentDay = day %}
    {% set currentMonth = month %}
    {% set currentYear = year %}
    {% set currentDate = currentMonth ~ "/" ~ currentDay ~ "/" ~ currentYear|date("U") %}
    
    {% set prevDate = currentDate|date_modify("-1 day") %}
    {% set prevDay = prevDate|date("d") %}
    {% set prevMonth = prevDate|date("m") %}
    {% set prevYear = prevDate|date("Y") %}
    
    {% set nextDate = currentDate|date_modify("+1 day") %}
    {% set nextDay = nextDate|date("d") %}
    {% set nextMonth = nextDate|date("m") %}
    {% set nextYear = nextDate|date("Y") %}
    
    
    {% set daysInMonth = currentDate|date('t') %}
	{% set startDow = currentDate|date('F 7\\s\\t Y')|date('w') %}
	
    {% set firstMonthDay = currentMonth ~ "/01/" ~ currentYear %}
    {% set lastMonthDay = currentMonth ~ "/" ~ daysInMonth ~ "/" ~ currentYear %}
    
    
    <div  data-theme="a" id="calendar-page" class="day-page" >
    
    	
	    <div class="change_day">
	    	<div class="ui-grid-b">
				<div class="ui-block-a" style="text-align: left;">
					{##########################}
					{# Today Button #}
					{##########################}
		    		{% if (currentDay == nowDay and currentMonth == nowMonth and currentYear == nowYear) %}
		    			<a href="{{ path('calendar_day', {'day': nowDay, 'month': nowMonth, 'year': nowYear, 'recruiter_id': recruiter_url}) }}" data-ajax="false" data-role="button" data-mini="true" data-inline="true" class="ui-btn-active ui-state-persist">{{ "Today" }}</a>
		    		{% else %}
		    			<a href="{{ path('calendar_day', {'day': nowDay, 'month': nowMonth, 'year': nowYear, 'recruiter_id': recruiter_url}) }}" data-ajax="false" data-role="button" data-mini="true" data-inline="true">{{ "Today" }}</a>
		    		{% endif %}
		    		
		    		{##########################}
		    		{# Set Unavailable Button #}
		    		{##########################}
		    		{% if (currentDate|date("D") != "Sun") %}
			    		{% if (unavailableDateList[currentDate] is defined) %}
				    		
						 	<a href="#popupSetAvailable" class="unavailable" data-rel="popup" data-position-to="window" data-role="button" data-mini="true" data-inline="true" data-icon="clock" data-theme="a">Unavailable</a>
				    		<div data-role="popup" id="popupSetAvailable" data-overlay-theme="a" data-theme="a" data-dismissible="false" style="max-width:400px;" class="ui-corner-all">
						    	<div data-role="header" data-theme="a" class="ui-corner-top">
								       <h1>Set Unavailable?</h1>
								</div>
								<div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
									<h3 class="ui-title">Are you sure you want to set Available this day?</h3>
								    <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-btn-icon-left ui-icon-delete" data-role="button" data-inline="true" data-rel="back" data-theme="a">Cancel</a>
								    {% set submit_id = setAvailableForm.vars.id ~ "_submit" %}
								    <form action="{{ path('unavailableDate_delete', { 'id': unavailableDateId }) }}" method="post" onsubmit="return checkSubmit('{{ submit_id }}');" data-ajax="false" {{ form_enctype(setAvailableForm) }}>
								    	<input type="hidden" name="_method" value="DELETE">
								   		{{ form_rest(setAvailableForm) }}
								   	</form>
								</div>
						    </div>
						 {% endif %}
					{% endif %}	
				</div>
				<div class="ui-block-b" style="text-align: center;">
					{############################}
		    		{# Prev and Next Day Button #}
		    		{############################}
		    		<a href="{{ path('calendar_day', {'day': prevDay, 'month': prevMonth, 'year': prevYear, 'recruiter_id': recruiter_url}) }}" data-ajax="false" data-role="button" data-icon="arrow-l" data-iconpos="notext" data-mini="true" data-inline="true"></a>
				    <span>{{ currentDate|date("D d F Y") }}</span>
				    <a href="{{ path('calendar_day', {'day': nextDay, 'month': nextMonth, 'year': nextYear, 'recruiter_id': recruiter_url}) }}" data-ajax="false" data-role="button" data-icon="arrow-r" data-iconpos="notext" data-mini="true" data-inline="true"></a>
				</div>
				<div class="ui-block-c" style="text-align: right;">
					{#############################}
		    		{# Set Views Options Buttons #}
		    		{#############################}
		    		<a href="{{ path('calendar_day', {'day': day , 'month': month, 'year': year, 'recruiter_id': recruiter_url}) }}" data-ajax="false" data-role="button" data-mini="true" data-inline="true" class="ui-btn-active ui-state-persist">{{ "Day" }}</a>
		    		<a href="{{ path('calendar_month', {'month': month, 'year': year, 'recruiter_id': recruiter_url}) }}" data-ajax="false" data-role="button" data-mini="true" data-inline="true">{{ "Month" }}</a>
		    		<a href="{{ path('calendar_diary', {'day': day , 'month': month, 'year': year, 'recruiter_id': recruiter_url}) }}" data-ajax="false" data-role="button" data-mini="true" data-inline="true">{{ "Diary" }}</a>
				</div>
			</div><!-- /grid-b -->
		</div>
        
	    <div role="main" class="ui-content" style="margin: 0 auto; max-width: 92.5em;">
	    	
			{% if ((currentDate|date("D") == "Sun") or (unavailableDateList[currentDate] is defined)) %}
				<div class="unavailable">
		    		{% if (currentDate|date("D") == "Sun") %}
						<h2>{{ "Unavailable Date" }}</h2>
						<p>{{ "You may not create appointments on Sundays" }}</p>
		    		{% elseif (unavailableDateList[currentDate]  is defined) %}
		    			<h2>{{ "Unavailable Date" }}</h2>
		    			<p>{{ "You may not create appointments because this day is unavailable." }}</p>
		    			<p style="font-weight: bold;">{{ "Reason: " ~  unavailableDateList[currentDate] }}
		    			<a href="#popupSetAvailable" style="float: right;" data-rel="popup" data-position-to="window" data-role="button" data-mini="true" data-inline="true" data-icon="clock" data-theme="a">Set Available</a></p>
		    		{% endif %}
		    	</div>
	    	{% else %}
		    	<ul data-role="listview" data-inset="true">
		        
	        		{########## Hours in day ###############}
		        	{% for i in range(8,20) %}
		        			{% if i < 10 %}{% set pref = "0" %}{% else %}{% set pref = "" %}{% endif %}
		        		
		        			{% if (nowHour == i and nowDate == currentDate) %}
			        			<li data-role="list-divider" class="currentTime">
			        		{% else %}
			        			<li data-role="list-divider">
			        		{% endif %}
								
								{% if appointment_list[i] is defined %}
								
									<img src="" class="ui-li-thumb">
									<div style="overflow: auto;">
										{% if appointment_list[i][0] is defined %}
											{% for appointment in appointment_list[i][0] %}
												<h2>
													<a href="#popup{{ appointment["id"] }}" data-rel="popup" data-position-to="window" data-role="button" data-mini="true" data-inline="true">
									                <p>{{ appointment["hour"] ~ ":" ~ appointment["minute"] }}</p>
													{{ appointment["title"] }}
								                	<p>{{ appointment["comment"]| truncate(30,true) }}</p>
								                </a></h2>
									                
									              <!--  POPUP APPOINTMENT -->
										   		 <div data-role="popup" id="popup{{ appointment["id"] }}" data-overlay-theme="a" data-theme="a" style="max-width:400px;" class="ui-corner-all">
										    		<div data-role="header" data-theme="a" class="ui-corner-top">
												        <h1>{{ appointment["title"] }}</h1>
												    </div>
												    <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
												        <p style="float: right;">{{ currentDate|date("d F Y") }}</p>
													    <h2 class="ui-title">{{ appointment["hour"] ~ ":" ~ appointment["minute"] }}</h2>
													    <p style="border-top: 1px solid gray; padding-top: 10px;"><strong>{{ "Recruiter: " }}</strong>{{ appointment["recruiter"] }}</p>
													    <p><strong>{{ "Record Reference: " }}</strong>{{ appointment["recordRef"] }}</p>
								                		<p><strong>{{ "Project: " }}</strong>{{ appointment["project"] }}</p>
								                		<p><strong>{{ "Outcome: " }}</strong>{{ appointment["outcome"] }}</p>
								                		<p><strong>{{ "Outcome Reason: " }}</strong>{{ appointment["outcomeReason"] }}</p>
								                		<p>
								                			<strong>{{ "Postcode: " }}</strong>{{ appointment["postcode"] }}
								                			<a href="{{ appointment["map"] }}" target="_blank" data-role="button" data-icon="navigation" data-iconpos="notext" data-mini="true" data-inline="true"></a>
								                		</p>
								                		<p style="border-top: 1px solid gray; padding-top: 10px;">{{ appointment["comment"] }}</p>
								                		
								                		<p style="padding-top: 10px; text-align: right;">
													        <a href="{{ path('appointment_edit', {'id': appointment["id"]}) }}" data-role="button" data-inline="true" data-icon="edit" data-theme="b" data-rel="dialog" data-transition="pop">Edit</a>
													        <a href="docs-dialogs.html" data-role="button" data-inline="true" data-icon="delete" data-rel="back">Cancel</a>
													    </p>
												    </div>
										  		  </div>
									        {% endfor %}
								       {% endif %}
									       
								       {% if appointment_list[i][30] is defined %}
								       		{% for appointment in appointment_list[i][30] %}
												<h2>
													<a href="#popup{{ appointment["id"] }}" data-rel="popup" data-position-to="window" data-role="button" data-mini="true" data-inline="true">
									        		<p>{{ appointment["hour"] ~ ":" ~ appointment["minute"] }}</p>        
								       				{{ appointment["title"] }}
								                	<p>{{ appointment["comment"] }}</p>
								                </a></h2>
								                
												<!--  POPUP APPOINTMENT -->
											    <div data-role="popup" id="popup{{ appointment["id"] }}" data-overlay-theme="a" data-theme="a" style="max-width:400px;" class="ui-corner-all">
										    		<div data-role="header" data-theme="a" class="ui-corner-top">
												        <h1>{{ appointment["title"] }}</h1>
												    </div>
												    <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
													    <p style="float: right;">{{ currentDate|date("d F Y") }}</p>
													    <h2 class="ui-title">{{ appointment["hour"] ~ ":" ~ appointment["minute"] }}</h2>
													    <p style="border-top: 1px solid gray; padding-top: 10px;"><strong>{{ "Recruiter: " }}</strong>{{ appointment["recruiter"] }}</p>
								                		<p><strong>{{ "Record Reference: " }}</strong>{{ appointment["recordRef"] }}</p>
								                		<p><strong>{{ "Project: " }}</strong>{{ appointment["project"] }}</p>
								                		<p><strong>{{ "Outcome: " }}</strong>{{ appointment["outcome"] }}</p>
								                		<p><strong>{{ "Outcome Reason: " }}</strong>{{ appointment["outcomeReason"] }}</p>
								                		<p>
								                			<strong>{{ "Postcode: " }}</strong>{{ appointment["postcode"] }}
								                			<a href="{{ appointment["map"] }}" target="_blank" data-role="button" data-icon="navigation" data-iconpos="notext" data-mini="true" data-inline="true"></a>
								                		</p>
								                		<p style="border-top: 1px solid gray; padding-top: 10px;">{{ appointment["comment"] }}</p>
								                		
								                		<p style="padding-top: 10px; text-align: right;">
													        <a href="{{ path('appointment_edit', {'id': appointment["id"]}) }}" data-role="button" data-inline="true" data-icon="edit" data-theme="b" data-rel="dialog" data-transition="pop">Edit</a>
													        <a href="docs-dialogs.html" data-role="button" data-inline="true" data-icon="delete" data-rel="back">Cancel</a>
													    </p>
												    </div>
											    </div>
								           	{% endfor %}
								       {% endif %}
								       
								       <div style="display: inline;">
								       		{% set time = (pref ~ i ~ ":00")|date('H:i') %}
								       		<a href="#action{{ time }}" data-role="button" data-rel="popup" data-position-to="origin" data-icon="plus" data-iconpos="notext" data-mini="true" data-inline="true" data-transition="slideup" data-theme="a"></a>

											<div data-role="popup" id="action{{ time }}" data-theme="a">
												<ul data-role="listview" data-inset="true" style="min-width:210px;" data-theme="a">
													<li data-role="divider" data-theme="b">{{ "What action do you want to do at " ~ time ~ "h ?"}}</li>
													<li><a href="{{ path('appointment_new_date', {'hour': i, 'minute': 00, 'day': day, 'month': month, 'year': year}) }}" data-rel="dialog" data-transition="pop">Create New Appointment</a></li>
													<li><a href="#">Create Note</a></li>
												</ul>
											</div>
								       </div>
									</div>
						            
				                {% else %}
					                {% for j in range(0,1) %}
					                	{% if j == 0 %}
				                			{% set time = (pref ~ i ~ ":00")|date('H:i') %}
				                		{% else %}
				                			{% set time = (pref ~ i ~ ":30")|date('H:i') %}
				                		{% endif %}
				                		
				                		{% if (unavailableTimeList[time] is defined) %}
					                		<a href="#action{{ time }}" class="ui-btn unavailableTime" data-rel="popup" data-position-to="origin" data-role="button" data-inline="true" data-transition="slideup" data-theme="a"><p> {{ time }} {{ " - Unavailable" }} </p></a>

											<div data-role="popup" id="action{{ time }}" data-theme="a">
												<ul data-role="listview" data-inset="true" style="min-width:210px;" data-theme="a">
													<li data-role="divider" data-theme="b">{{ "What action do you want to do at " ~ time ~ "h ?"}}</li>
													<li><a href="#" class="ui-btn ui-disabled">Create Appointment</a></li>
													<li><a href="#">Create Note</a></li>
													<li><a href="{{ path('unavailableDate_edit', {'id': unavailableTimeList[time], 'recruiter_id': recruiter.id}) }}" data-rel="dialog" data-transition="pop">Change Availability</a></li>
												</ul>
											</div>
					                	{% else %}
					                		<a href="#action{{ time }}" data-rel="popup" data-position-to="origin" data-role="button" data-inline="true" data-transition="slideup" data-theme="a"><p> {{ time }} </p></a>

											<div data-role="popup" id="action{{ time }}" data-theme="a">
												<ul data-role="listview" data-inset="true" style="min-width:210px;" data-theme="a">
													<li data-role="divider" data-theme="b">{{ "What action do you want to do at " ~ time ~ "h ?"}}</li>
													<li><a href="{{ path('appointment_new_date', {'hour': i, 'minute': j*30, 'day': day, 'month': month, 'year': year}) }}" data-rel="dialog" data-transition="pop">Create Appointment</a></li>
													<li><a href="#">Create Note</a></li>
													<li><a href="{{ path('unavailableDate_new_date', {'hour': i, 'minute': j*30, 'day': day, 'month': month, 'year': year, 'recruiter_id': recruiter.id}) }}" data-rel="dialog" data-transition="pop">Set Unavailable</a></li>
												</ul>
											</div>
					                	{% endif %}
					                	</a>
					                {% endfor %}
				                {% endif %}
				                <p class="ui-li-aside">
				                	{{ pref ~ i ~ ":00" }}
				                </p>
				         	</li>
				    	
		            {% endfor %}
		        </ul>
			{% endif %}
		</div> <!-- content -->
	</div>
	
{% endblock %}
