{% extends '::base.html.twig' %}

{% block body -%}
    <h1>UnavailableDate list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Otherreason</th>
                <th>Unavailabledate</th>
                <th>Createdby</th>
                <th>Createddate</th>
                <th>Modifiedby</th>
                <th>Modifieddate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('unavailableDate_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.otherReason }}</td>
                <td>{% if entity.unavailableDate %}{{ entity.unavailableDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.createdBy }}</td>
                <td>{% if entity.createdDate %}{{ entity.createdDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.modifiedBy }}</td>
                <td>{% if entity.modifiedDate %}{{ entity.modifiedDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('unavailableDate_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('unavailableDate_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('unavailableDate_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
