{% extends '::calendar.html.twig' %}


{% block title %}Availability{% endblock %}

{% block article -%}

	{% set now = "now"|date("U") %}
    {% set nowDay = now|date("d") %}
    {% set nowMonth = now|date("m") %}
    {% set nowYear = now|date("Y") %}
    
    {% set currentMonth = month %}
    {% set currentYear = year %}
    {% set time = currentMonth ~ "/01/" ~ currentYear|date("U") %}
    
    {% set prevDate = time|date_modify("-1 month") %}
    {% set prevDay = prevDate|date("d") %}
    {% set prevMonth = prevDate|date("m") %}
    {% set prevYear = prevDate|date("Y") %}
    
    {% set nextDate = time|date_modify("+1 month") %}
    {% set nextDay = nextDate|date("d") %}
    {% set nextMonth = nextDate|date("m") %}
    {% set nextYear = nextDate|date("Y") %}
    
    {% set daysInMonth = time|date('t') %}
	{% set startDow = time|date('F 7\\s\\t Y')|date('w') %}
	
    {% set firstMonthDay = currentMonth ~ "/01/" ~ currentYear %}
    {% set lastMonthDay = currentMonth ~ "/" ~ daysInMonth ~ "/" ~ currentYear %}
    
    
    
    <div  data-theme="a" id="calendar-page" class="diary-page">
    
	    <div class="change_day">
	    	<table>
	    		<tr>
			    	<td style="text-align: left;">
			    		{% if (currentMonth == nowMonth and currentYear == nowYear) %}
			    			<a href="{{ path('unavailableDate_search_availability', {'month': nowMonth, 'year': nowYear}) }}" data-ajax="false" data-role="button" data-mini="true" data-inline="true" class="ui-btn-active ui-state-persist">{{ "Today" }}</a>
			    		{% else %}
			    			<a href="{{ path('unavailableDate_search_availability', {'month': nowMonth, 'year': nowYear}) }}" data-ajax="false" data-role="button" data-mini="true" data-inline="true">{{ "Today" }}</a>
			    		{% endif %}
			    	</td>
			    	<td style="text-align: center;">
					    <a href="{{ path('unavailableDate_search_availability', {'month': prevMonth, 'year': prevYear}) }}" data-ajax="false" data-role="button" data-icon="arrow-l" data-iconpos="notext" data-mini="true" data-inline="true"></a>
					    <span>{{ time|date("F Y") }}</span>
					    <a href="{{ path('unavailableDate_search_availability', {'month': nextMonth, 'year': nextYear}) }}" data-ajax="false" data-role="button" data-icon="arrow-r" data-iconpos="notext" data-mini="true" data-inline="true"></a>
					</td>
				    <td style="text-align: right;">
			    		<a href="{{ path('calendar_day', {'day': firstMonthDay|date("d") , 'month': month, 'year': year}) }}" data-ajax="false" data-role="button" data-mini="true" data-inline="true">{{ "Day" }}</a>
			    		<a href="{{ path('calendar_month', {'month': month, 'year': year}) }}" data-ajax="false" data-role="button" data-mini="true" data-inline="true">{{ "Month" }}</a>
			    		<a href="{{ path('calendar_diary', {'day': firstMonthDay|date("d") , 'month': month, 'year': year}) }}" data-ajax="false" data-role="button" data-mini="true" data-inline="true" class="ui-btn-active ui-state-persist">{{ "Diary" }}</a>
			    	</td>
			    </tr>
		    </table>
		</div>
        
	    <div role="main" class="ui-content" style="margin: 0 auto; max-width: 92.5em;">
	    	
	    	<ul data-role="listview" data-inset="true">
	        
        		{########## Diary ###############}
				{% for i in range(1,daysInMonth) %}
					{% set day = currentMonth ~ "/" ~ i ~ "/" ~ currentYear|date("U") %}
					{% set day = day|date("m/d/Y") %}
					
					<li>
						<img src="" class="ui-li-thumb">
						<div data-role="collapsible">
							{% if (unavailableCommonDateList[day] is defined) %}
								{{ "BANK HOLIDAY" }}
							{% elseif (day|date("D") == "Sun") %}
								{{ "SUNDAY" }}
							{% elseif (recruiterList[day]|length > 0) %}
								<h2><a href="#">
					        		{{ "There are " ~ recruiterList[day]|length ~ " available recruiter(s)" }}
				                </a></h2>
				                {% for key, recruiter in recruiterList[day] %}
			                		<p>
			                			<a href="#popup{{ recruiter.id ~ day }}" data-rel="popup" data-position-to="window" data-role="button" data-inline="true">
			                				{{ recruiter.userDetail }}
			                			</a>
			                			<div data-role="popup" id="popup{{ recruiter.id ~ day}}" data-overlay-theme="a" data-theme="a" style="max-width:400px;" class="ui-corner-all">
											<ul data-role="listview" data-inset="true" style="min-width:210px;" data-theme="a">
												<li data-role="divider" data-theme="b">{{ recruiter.userDetail ~ " - " ~ day|date("D d M Y") }}</li>
												<li><a href="#">Create Appointment</a></li>
												<li><a href="#">Create Note</a></li>
												<li><a href="#">Set Unavailable</a></li>
												<li><a href="#">Go to this day</a></li>
											</ul>
										</div>
			                		</p>
								{% endfor %}
							{% endif %}
			            </div>
			           	<p class="ui-li-aside">
                			{{ day|date("D d M") }}
                		</p>
                	</li>
		        {% endfor %}
			         	
	        </ul>
		</div> <!-- content -->
	</div>
	
{% endblock %}
    
